#deudor {
  font-weight: bold;
  padding: 24px;
  font-size: 1.5em;
  line-height: 1.1;
}

#contenedor-lista-cenas {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  flex: 1;
}

#lista-cenas {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#lista-cenas a {
  text-decoration: none;
  color: #333333;
}

.fila-lista-cenas:hover {
  text-decoration: none;
  background: rgb(151, 224, 255);
}

.fila-lista-cenas {
  padding: 16px 0 16px 24px;
  display: flex;
  background-color: #D3EBF5;
  margin-top: 12px;
  font-size: .85em;
  align-items: center;
  flex: 1;
}

.fila-lista-cenas-monto {
  width: 100px;
  text-align: left;
}

.fila-lista-cenas-titulo {
  flex: 1;
  text-align: left;
}

.fila-lista-cenas-quien-pago {
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  font-size: .6em;
  color: rgba(255, 255, 255, 0.7);
}

.fila-lista-cenas-quien-pago:first-child {
  border-radius: 8px 0 0 8px;
}

.fila-lista-cenas-quien-pago:last-child {
  border-radius: 0 8px 8px 0;
}

.fila-lista-cenas-quien-pago.paga1 {
  background-color: #5CABCC;
}

.fila-lista-cenas-quien-pago.paga2 {
  background-color: #FF3659;
}

#boton-agregar-cena {
  width: 200px;
  background-color: #FF3659;
  padding: 16px;
  border-radius: 8px;
  align-self: center;
  margin-top: 32px;
}

#boton-agregar-cena p {
  color: white;
  font-weight: bold;
}

.contenedor-fila-lista-cenas {
  display: flex;
  flex-direction: row;
  opacity: 0;
  transform: translateX(-8px);
  animation: aparecer .25s ease-in-out forwards;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateX(-8px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.deuda {
  display: inline-block;
  animation: molestar 2s ease-in-out infinite;
}

@keyframes molestar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}